

<!DOCTYPE html>
<html>
  <head>
    <title>nodoca</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>nodoca</h1>
    <p>Welcome to nodoca</p>


    <h3>user</h3>
    <a href="/users">show users</a>
    <a href="/user/create">create user</a>


    <h3>book</h3>
    <a href="/books">show books</a>
    <a href="/book/create">create book</a>

  </body>
</html>

