<!DOCTYPE html>
<html>
  <head>
    <title>create user</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>create user</h1>
    <form action="/users/create" method="post">
    	<div><span>name</span><input type="text" name="name" /></div>
    	<div><span>email</span><input type="text" name="email" /></div>
    	<input type="submit" value="new"/>
    </form>
  </body>
</html>