
<!DOCTYPE html>
<html>
  <head>
    <title>create book</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>create book</h1>
    <form action="/book/create" method="post">
      
      
    	<div><span>stock</span><input type="number" name="stock" /></div>
      
      
      
    	<div><span>price</span><input type="number" name="price" /></div>
      
      
      
    	<div><span>title</span><input type="text" name="title" /></div>
      
      
      
    	<div><span>author</span><input type="text" name="author" /></div>
      
      
    	<input type="submit" value="new"/>
    </form>
  </body>
</html>
